lib/*.*
lib/.gitignore
lib/CONTRIBUTING.md
lib/LICENSE
lib/make_metadata.py
lib/Makefile
lib/optimize_upip.py
lib/README.md
lib/sdist_upip.py
lib/uPip_Helper.ipynb
lib/.ipynb_checkpoints/uPip_Helper-checkpoint.ipynb
lib/__future__/__future__.py
lib/__future__/metadata.txt
lib/__future__/setup.py
lib/_libc/_libc.py
lib/_libc/metadata.txt
lib/_libc/setup.py
lib/_markupbase/_markupbase.py
lib/_markupbase/metadata.txt
lib/_markupbase/setup.py
lib/abc/abc.py
lib/abc/metadata.txt
lib/abc/setup.py
lib/argparse/argparse.py
lib/argparse/metadata.txt
lib/argparse/setup.py
lib/argparse/test_argparse.py
lib/array/metadata.txt
lib/array/setup.py
lib/asyncio/metadata.txt
lib/asyncio/setup.py
lib/asyncio_slow/asyncio_slow.py
lib/asyncio_slow/example_chain.py
lib/asyncio_slow/example_future.py
lib/asyncio_slow/example_future2.py
lib/asyncio_slow/example_hello_world_bare.py
lib/asyncio_slow/example_hello_world_callback.py
lib/asyncio_slow/example_hello_world.py
lib/asyncio_slow/example_parallel.py
lib/base64/base64.py
lib/base64/metadata.txt
lib/base64/setup.py
lib/base64/test_base64.py
lib/binascii/binascii.py
lib/binascii/metadata.txt
lib/binascii/setup.py
lib/binascii/test_binascii.py
lib/binhex/binhex.py
lib/binhex/metadata.txt
lib/binhex/setup.py
lib/bisect/bisect.py
lib/bisect/setup.py
lib/calendar/calendar.py
lib/calendar/metadata.txt
lib/calendar/setup.py
lib/cgi/cgi.py
lib/cgi/metadata.txt
lib/cgi/setup.py
lib/cmd/cmd.py
lib/cmd/metadata.txt
lib/cmd/setup.py
lib/code/code.py
lib/code/metadata.txt
lib/code/setup.py
lib/codecs/codecs.py
lib/codecs/metadata.txt
lib/codecs/setup.py
lib/codeop/codeop.py
lib/codeop/metadata.txt
lib/codeop/setup.py
lib/collections/metadata.txt
lib/collections/setup.py
lib/collections/collections/__init__.py
lib/collections.defaultdict/metadata.txt
lib/collections.defaultdict/setup.py
lib/collections.defaultdict/test_defaultdict.py
lib/collections.defaultdict/collections/defaultdict.py
lib/collections.deque/metadata.txt
lib/collections.deque/setup.py
lib/collections.deque/collections/deque.py
lib/concurrent.futures/metadata.txt
lib/concurrent.futures/setup.py
lib/concurrent.futures/concurrent/futures/__init__.py
lib/contextlib/contextlib.py
lib/contextlib/metadata.txt
lib/contextlib/setup.py
lib/contextlib/tests.py
lib/copy/copy.py
lib/copy/metadata.txt
lib/copy/setup.py
lib/cpython-uasyncio/example_yield_coro.py
lib/cpython-uasyncio/metadata.txt
lib/cpython-uasyncio/patch.diff
lib/cpython-uasyncio/setup.py
lib/cpython-uasyncio/uasyncio.py
lib/csv/csv.py
lib/csv/metadata.txt
lib/csv/setup.py
lib/curses/metadata.txt
lib/curses/setup.py
lib/curses.ascii/metadata.txt
lib/curses.ascii/setup.py
lib/curses.ascii/curses/ascii.py
lib/datetime/datetime.py
lib/datetime/metadata.txt
lib/datetime/setup.py
lib/datetime/test_datetime.py
lib/dbm/dbm.py
lib/dbm/metadata.txt
lib/dbm/setup.py
lib/decimal/decimal.py
lib/decimal/metadata.txt
lib/decimal/setup.py
lib/difflib/difflib.py
lib/difflib/metadata.txt
lib/difflib/setup.py
lib/dis/metadata.txt
lib/dis/setup.py
lib/dummy_threading/metadata.txt
lib/dummy_threading/setup.py
lib/email.charset/metadata.txt
lib/email.charset/setup.py
lib/email.charset/email/charset.py
lib/email.encoders/metadata.txt
lib/email.encoders/setup.py
lib/email.encoders/email/base64mime.py
lib/email.encoders/email/encoders.py
lib/email.encoders/email/quoprimime.py
lib/email.errors/metadata.txt
lib/email.errors/setup.py
lib/email.errors/email/errors.py
lib/email.feedparser/metadata.txt
lib/email.feedparser/setup.py
lib/email.feedparser/email/feedparser.py
lib/email.header/metadata.txt
lib/email.header/setup.py
lib/email.header/email/header.py
lib/email.internal/metadata.txt
lib/email.internal/setup.py
lib/email.internal/email/_encoded_words.py
lib/email.internal/email/_parseaddr.py
lib/email.internal/email/_policybase.py
lib/email.message/metadata.txt
lib/email.message/setup.py
lib/email.message/email/iterators.py
lib/email.message/email/message.py
lib/email.parser/metadata.txt
lib/email.parser/setup.py
lib/email.parser/email/parser.py
lib/email.utils/metadata.txt
lib/email.utils/setup.py
lib/email.utils/email/utils.py
lib/errno/errno.py
lib/errno/metadata.txt
lib/errno/setup.py
lib/fcntl/fcntl.py
lib/fcntl/metadata.txt
lib/fcntl/setup.py
lib/ffilib/ffilib.py
lib/ffilib/metadata.txt
lib/ffilib/setup.py
lib/fnmatch/fnmatch.py
lib/fnmatch/metadata.txt
lib/fnmatch/setup.py
lib/fnmatch/test_fnmatch.py
lib/formatter/formatter.py
lib/formatter/metadata.txt
lib/formatter/setup.py
lib/fractions/fractions.py
lib/fractions/metadata.txt
lib/fractions/setup.py
lib/ftplib/ftplib.py
lib/ftplib/metadata.txt
lib/ftplib/setup.py
lib/functools/functools.py
lib/functools/metadata.txt
lib/functools/setup.py
lib/functools/test_partial.py
lib/functools/test_reduce.py
lib/getopt/getopt.py
lib/getopt/metadata.txt
lib/getopt/setup.py
lib/getpass/getpass.py
lib/getpass/metadata.txt
lib/getpass/setup.py
lib/gettext/gettext.py
lib/gettext/metadata.txt
lib/gettext/setup.py
lib/gettext/test_gettext.py
lib/glob/glob.py
lib/glob/metadata.txt
lib/glob/setup.py
lib/glob/test_glob.py
lib/gzip/gzip.py
lib/gzip/metadata.txt
lib/gzip/setup.py
lib/hashlib/metadata.txt
lib/hashlib/setup.py
lib/hashlib/test_hashlib.py
lib/hashlib/hashlib/__init__.py
lib/hashlib/hashlib/_sha224.py
lib/hashlib/hashlib/_sha256.py
lib/hashlib/hashlib/_sha384.py
lib/hashlib/hashlib/_sha512.py
lib/heapq/heapq.py
lib/heapq/metadata.txt
lib/heapq/setup.py
lib/heapq/test_heapq.py
lib/hmac/hmac.py
lib/hmac/metadata.txt
lib/hmac/setup.py
lib/hmac/test_hmac.py
lib/html/metadata.txt
lib/html/setup.py
lib/html/html/__init__.py
lib/html.entities/metadata.txt
lib/html.entities/setup.py
lib/html.entities/html/entities.py
lib/html.parser/metadata.txt
lib/html.parser/setup.py
lib/html.parser/html/parser.py
lib/http.client/example_client.py
lib/http.client/metadata.txt
lib/http.client/setup.py
lib/http.client/http/client.py
lib/imaplib/imaplib.py
lib/imaplib/metadata.txt
lib/imaplib/setup.py
lib/imp/imp.py
lib/imp/metadata.txt
lib/imp/setup.py
lib/importlib/importlib.py
lib/importlib/metadata.txt
lib/importlib/setup.py
lib/inspect/inspect.py
lib/inspect/metadata.txt
lib/inspect/setup.py
lib/io/io.py
lib/io/metadata.txt
lib/io/setup.py
lib/ipaddress/ipaddress.py
lib/ipaddress/metadata.txt
lib/ipaddress/setup.py
lib/itertools/itertools.py
lib/itertools/metadata.txt
lib/itertools/setup.py
lib/itertools/test_itertools.py
lib/json/setup.py
lib/json/test_json.py
lib/json/json/__init__.py
lib/json/json/decoder.py
lib/json/json/encoder.py
lib/json/json/scanner.py
lib/json/json/tool.py
lib/keyword/keyword.py
lib/linecache/linecache.py
lib/linecache/metadata.txt
lib/linecache/setup.py
lib/locale/locale.py
lib/locale/metadata.txt
lib/locale/setup.py
lib/logging/example_logging.py
lib/logging/logging.py
lib/logging/metadata.txt
lib/logging/setup.py
lib/machine/example_timer.py
lib/machine/metadata.txt
lib/machine/setup.py
lib/machine/machine/__init__.py
lib/machine/machine/pin.py
lib/machine/machine/timer.py
lib/mailbox/mailbox.py
lib/mailbox/metadata.txt
lib/mailbox/setup.py
lib/mailcap/mailcap.py
lib/mailcap/metadata.txt
lib/mailcap/setup.py
lib/math/metadata.txt
lib/math/setup.py
lib/mimetypes/metadata.txt
lib/mimetypes/mimetypes.py
lib/mimetypes/setup.py
lib/multiprocessing/metadata.txt
lib/multiprocessing/multiprocessing.py
lib/multiprocessing/setup.py
lib/multiprocessing/test_pipe.py
lib/multiprocessing/test_pool_async.py
lib/multiprocessing/test_pool.py
lib/multiprocessing/test_process.py
lib/nntplib/metadata.txt
lib/nntplib/nntplib.py
lib/nntplib/setup.py
lib/numbers/metadata.txt
lib/numbers/numbers.py
lib/numbers/setup.py
lib/operator/metadata.txt
lib/operator/operator.py
lib/operator/setup.py
lib/operator/test_operator.py
lib/optparse/metadata.txt
lib/optparse/optparse.py
lib/optparse/setup.py
lib/os/example_dirs.py
lib/os/example_fork.py
lib/os/example_fsencode.py
lib/os/example_getenv.py
lib/os/example_open.py
lib/os/example_rw.py
lib/os/example_system.py
lib/os/example_urandom.py
lib/os/metadata.txt
lib/os/setup.py
lib/os/test_filestat.py
lib/os/os/__init__.py
lib/os.path/metadata.txt
lib/os.path/setup.py
lib/os.path/test_path.py
lib/os.path/os/path.py
lib/pathlib/metadata.txt
lib/pathlib/pathlib.py
lib/pathlib/setup.py
lib/pdb/metadata.txt
lib/pdb/pdb.py
lib/pdb/setup.py
lib/pickle/metadata.txt
lib/pickle/pickle.py
lib/pickle/setup.py
lib/pickle/test_pickle.py
lib/pickletools/metadata.txt
lib/pickletools/pickletools.py
lib/pickletools/setup.py
lib/pkg_resources/metadata.txt
lib/pkg_resources/pkg_resources.py
lib/pkg_resources/setup.py
lib/pkgutil/metadata.txt
lib/pkgutil/pkgutil.py
lib/pkgutil/setup.py
lib/platform/metadata.txt
lib/platform/platform.py
lib/platform/setup.py
lib/poplib/metadata.txt
lib/poplib/poplib.py
lib/poplib/setup.py
lib/posixpath/metadata.txt
lib/posixpath/posixpath.py
lib/posixpath/setup.py
lib/pprint/metadata.txt
lib/pprint/pprint.py
lib/pprint/setup.py
lib/profile/metadata.txt
lib/profile/profile.py
lib/profile/setup.py
lib/pty/metadata.txt
lib/pty/pty.py
lib/pty/setup.py
lib/pwd/metadata.txt
lib/pwd/pwd.py
lib/pwd/setup.py
lib/pwd/test_getpwnam.py
lib/pyb/example_blink.py
lib/pyb/pyb.py
lib/pystone/metadata.txt
lib/pystone/pystone.py
lib/pystone/setup.py
lib/pystone_lowmem/metadata.txt
lib/pystone_lowmem/pystone_lowmem.py
lib/pystone_lowmem/setup.py
lib/queue/metadata.txt
lib/queue/queue.py
lib/queue/setup.py
lib/quopri/metadata.txt
lib/quopri/quopri.py
lib/quopri/setup.py
lib/quopri/test_quopri.py
lib/random/metadata.txt
lib/random/random.py
lib/random/setup.py
lib/random/test_randrange.py
lib/re-pcre/metadata.txt
lib/re-pcre/re.py
lib/re-pcre/setup.py
lib/re-pcre/test_re.py
lib/readline/metadata.txt
lib/readline/readline.py
lib/readline/setup.py
lib/reprlib/metadata.txt
lib/reprlib/reprlib.py
lib/reprlib/setup.py
lib/runpy/metadata.txt
lib/runpy/runpy.py
lib/runpy/setup.py
lib/sched/metadata.txt
lib/sched/sched.py
lib/sched/setup.py
lib/select/example_epoll.py
lib/select/metadata.txt
lib/select/select.py
lib/select/setup.py
lib/selectors/metadata.txt
lib/selectors/selectors.py
lib/selectors/setup.py
lib/shelve/metadata.txt
lib/shelve/setup.py
lib/shelve/shelve.py
lib/shlex/metadata.txt
lib/shlex/setup.py
lib/shlex/shlex.py
lib/shutil/metadata.txt
lib/shutil/setup.py
lib/shutil/shutil.py
lib/signal/example_sigint_exc.py
lib/signal/example_sigint_ign.py
lib/signal/example_sigint.py
lib/signal/metadata.txt
lib/signal/setup.py
lib/signal/signal.py
lib/smtplib/metadata.txt
lib/smtplib/setup.py
lib/smtplib/smtplib.py
lib/socket/metadata.txt
lib/socket/setup.py
lib/socket/socket.py
lib/socketserver/metadata.txt
lib/socketserver/setup.py
lib/socketserver/socketserver.py
lib/sqlite3/metadata.txt
lib/sqlite3/setup.py
lib/sqlite3/sqlite3.py
lib/sqlite3/test_sqlite3_2.py
lib/sqlite3/test_sqlite3.py
lib/ssl/metadata.txt
lib/ssl/setup.py
lib/ssl/ssl.py
lib/stat/metadata.txt
lib/stat/setup.py
lib/stat/stat.py
lib/statistics/metadata.txt
lib/statistics/setup.py
lib/statistics/statistics.py
lib/string/metadata.txt
lib/string/setup.py
lib/string/string.py
lib/string/test_translate.py
lib/stringprep/metadata.txt
lib/stringprep/setup.py
lib/stringprep/stringprep.py
lib/struct/metadata.txt
lib/struct/setup.py
lib/struct/struct.py
lib/subprocess/metadata.txt
lib/subprocess/setup.py
lib/subprocess/subprocess.py
lib/sys/metadata.txt
lib/sys/setup.py
lib/sys/sys.py
lib/tarfile/metadata.txt
lib/tarfile/setup.py
lib/tarfile/tarfile.py
lib/telnetlib/metadata.txt
lib/telnetlib/setup.py
lib/telnetlib/telnetlib.py
lib/tempfile/metadata.txt
lib/tempfile/setup.py
lib/tempfile/tempfile.py
lib/test/test_pep380.py
lib/test.pystone/metadata.txt
lib/test.pystone/setup.py
lib/test.pystone/test/pystone.py
lib/test.support/metadata.txt
lib/test.support/setup.py
lib/test.support/test/support.py
lib/textwrap/metadata.txt
lib/textwrap/setup.py
lib/textwrap/textwrap.py
lib/threading/metadata.txt
lib/threading/setup.py
lib/threading/threading.py
lib/time/example_strftime.py
lib/time/example_time_tuple.py
lib/time/metadata.txt
lib/time/setup.py
lib/time/test_strftime.py
lib/time/time.py
lib/timeit/metadata.txt
lib/timeit/setup.py
lib/timeit/timeit.py
lib/trace/metadata.txt
lib/trace/setup.py
lib/trace/trace.py
lib/traceback/metadata.txt
lib/traceback/setup.py
lib/traceback/traceback.py
lib/tty/metadata.txt
lib/tty/setup.py
lib/tty/tty.py
lib/types/setup.py
lib/types/types.py
lib/typing/metadata.txt
lib/typing/setup.py
lib/typing/typing.py
lib/uaiohttpclient/example.py
lib/uaiohttpclient/metadata.txt
lib/uaiohttpclient/README
lib/uaiohttpclient/setup.py
lib/uaiohttpclient/uaiohttpclient.py
lib/uasyncio/example_http_client.py
lib/uasyncio/example_http_server.py
lib/uasyncio/metadata.txt
lib/uasyncio/README.rst
lib/uasyncio/README.test
lib/uasyncio/setup.py
lib/uasyncio/test_echo.py
lib/uasyncio/test_io_starve.py
lib/uasyncio/test_readexactly.py
lib/uasyncio/test_readline.py
lib/uasyncio/.ipynb_checkpoints/setup-checkpoint.py
lib/uasyncio/benchmark/boom_uasyncio.py
lib/uasyncio/benchmark/test_http_server_heavy.py
lib/uasyncio/benchmark/test_http_server_light.py
lib/uasyncio/benchmark/test_http_server_medium.py
lib/uasyncio/benchmark/test-ab-medium.sh
lib/uasyncio/benchmark/test-boom-heavy.sh
lib/uasyncio/uasyncio/__init__.py
lib/uasyncio/uasyncio/.ipynb_checkpoints/__init__-checkpoint.py
lib/uasyncio.core/example_call_soon.py
lib/uasyncio.core/metadata.txt
lib/uasyncio.core/setup.py
lib/uasyncio.core/test_cancel.py
lib/uasyncio.core/test_cb_args.py
lib/uasyncio.core/test_fair_schedule.py
lib/uasyncio.core/test_full_wait.py
lib/uasyncio.core/test_wait_for.py
lib/uasyncio.core/uasyncio/core.py
lib/uasyncio.queues/metadata.txt
lib/uasyncio.queues/setup.py
lib/uasyncio.queues/tests/test.py
lib/uasyncio.queues/uasyncio/queues.py
lib/uasyncio.synchro/example_lock.py
lib/uasyncio.synchro/metadata.txt
lib/uasyncio.synchro/setup.py
lib/uasyncio.synchro/uasyncio/synchro.py
lib/uasyncio.udp/example_dns_junk.py
lib/uasyncio.udp/metadata.txt
lib/uasyncio.udp/setup.py
lib/uasyncio.udp/uasyncio/udp.py
lib/uasyncio.websocket.server/example_websock.py
lib/uasyncio.websocket.server/metadata.txt
lib/uasyncio.websocket.server/setup.py
lib/uasyncio.websocket.server/uasyncio/websocket/server.py
lib/ucontextlib/metadata.txt
lib/ucontextlib/setup.py
lib/ucontextlib/tests.py
lib/ucontextlib/ucontextlib.py
lib/ucurses/metadata.txt
lib/ucurses/setup.py
lib/ucurses/ucurses/__init__.py
lib/udnspkt/example_resolve.py
lib/udnspkt/metadata.txt
lib/udnspkt/setup.py
lib/udnspkt/udnspkt.py
lib/umqtt.robust/example_sub_robust.py
lib/umqtt.robust/metadata.txt
lib/umqtt.robust/README.rst
lib/umqtt.robust/setup.py
lib/umqtt.robust/umqtt/robust.py
lib/umqtt.simple/example_pub_button.py
lib/umqtt.simple/example_pub.py
lib/umqtt.simple/example_sub_led.py
lib/umqtt.simple/example_sub.py
lib/umqtt.simple/metadata.txt
lib/umqtt.simple/README.rst
lib/umqtt.simple/setup.py
lib/umqtt.simple/umqtt/simple.py
lib/unicodedata/metadata.txt
lib/unicodedata/setup.py
lib/unicodedata/unicodedata.py
lib/unittest/metadata.txt
lib/unittest/setup.py
lib/unittest/test_unittest.py
lib/unittest/unittest.py
lib/upip/bootstrap_upip.sh
lib/upip/Makefile
lib/upip/metadata.txt
lib/upip/setup.py
lib/upip/upip_utarfile.py
lib/upip/upip.py
lib/upysh/metadata.txt
lib/upysh/setup.py
lib/upysh/upysh.py
lib/urequests/example_xively.py
lib/urequests/metadata.txt
lib/urequests/setup.py
lib/urequests/urequests.py
lib/urllib/setup.py
lib/urllib/urllib.py
lib/urllib.parse/metadata.txt
lib/urllib.parse/setup.py
lib/urllib.parse/test_urlparse.py
lib/urllib.parse/urllib/parse.py
lib/urllib.urequest/metadata.txt
lib/urllib.urequest/setup.py
lib/urllib.urequest/urllib/urequest.py
lib/utarfile/example-extract.py
lib/utarfile/metadata.txt
lib/utarfile/setup.py
lib/utarfile/utarfile.py
lib/uu/metadata.txt
lib/uu/setup.py
lib/uu/uu.py
lib/uuid/metadata.txt
lib/uuid/setup.py
lib/uuid/uuid.py
lib/venv/metadata.txt
lib/venv/setup.py
lib/venv/venv.py
lib/warnings/example_warn.py
lib/warnings/metadata.txt
lib/warnings/setup.py
lib/warnings/warnings.py
lib/weakref/metadata.txt
lib/weakref/setup.py
lib/weakref/weakref.py
lib/xmltok/metadata.txt
lib/xmltok/setup.py
lib/xmltok/test_xmltok.py
lib/xmltok/test.xml
lib/xmltok/xmltok.py
lib/zipfile/metadata.txt
lib/zipfile/setup.py
lib/zipfile/zipfile.py
lib/zlib/metadata.txt
lib/zlib/setup.py
lib/zlib/zlib.py
